@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body{
  background-color: black;
  color:white;
  font-family: 'Raleway', sans-serif;
}
.navbar-brand{
  font-weight:bold;
  font-size:30px;
  margin-left:40px;
}
#hero{
  width:auto;
}
.hero-text{
  font-size:20px;
}
.container{
  display:flex;
  justify-content: center;
  align-items:center;
}
.baci{
  font-weight: bold;
  font-size:50px;
}
img{
  border-radius:50%;
  width:350px;
  height:350px;
  border:2px solid black;
}

.btn1{
  border:2px solid blue;
  background-color: blue;
  color:white;
  padding:5px;
  border-radius:2px;
}
.btn2{
  border:2px solid red;
  background-color: red;
  color:white;
  padding:5px;
  border-radius:2px;
}
#about-section{
  margin-top:60px;
}
.about-heading{
  text-align:center;
  margin-top:150px;
}
.about-btn{
  border:2px solid red;
  background-color: red;
  color:white;
  padding:5px;
  border-radius:2px;
}
.services-heading{
  text-align:center;
  margin-top:120px;
}
#services{
  margin-top:70px;
}
.service{
  border:2px solid white;
  background-color: white;
  color:black;
  padding:3px;
  border-radius:2px;
  text-decoration: underline;
}
#payment{
  margin-top:200px;
}
.payment-btn{
  border:2px solid blue;
  background-color: blue;
  color:white;
  padding:5px;
  border-radius:2px;
}
.submit-btn{
  border:2px solid red;
  background-color: red;
  color:white;
  padding:5px;
  border-radius:2px;
}
input{
  background-color: transparent;
  color:white;
  border:2px solid white;
  margin:10px;
}
#message{
  margin-top:150px;
}
#contact{
  background-color: rgb(0, 0, 0);
}
#contact{
  margin-top:200px;
  height:40vh;
}
.para{
  text-decoration: underline;
}
.footer-btn{
  border:2px solid rgb(78, 74, 4);
  background-color: rgb(75, 65, 4);
  color:white;
  padding:5px;
  border-radius:2px;
}
.footer-btn2{
  border:2px solid red;
  background-color: red;
  color:white;
  padding:5px;
  border-radius:2px;
}
.copy{
  text-decoration: underline;
  color:white;
  text-align:center;
}